<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890225007433-1445feirbgakohqhnrcer1ni455nhes4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890225007433-1445feirbgakohqhnrcer1ni455nhes4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>890225007433-52sscuqd432rle1suq5anqqau7tmkoge.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDWUugnx52JGkNGl4EXe44kp8eLY937CiU</string>
	<key>GCM_SENDER_ID</key>
	<string>890225007433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fraboli.r32pro01</string>
	<key>PROJECT_ID</key>
	<string>databaser32-d7267</string>
	<key>STORAGE_BUCKET</key>
	<string>databaser32-d7267.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890225007433:ios:3926d762a601826a655898</string>
</dict>
</plist>